@model IEnumerable<AdresDefteriVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="table">
    <thead>
        @*<tr>
            <th>
                Id
            </th>
            <th>
                Adres
            </th>
            <th>
                Mail
            </th>
            <th>
                Konum
            </th>
            <th>
                KisiId
            </th>
            <th>
                IsActive
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
       
            @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Konum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KisiId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a asp-controller="AdresAjax" asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                        <a asp-controller="AdresAjax" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }*@
       
</tbody>
</table>
<script>

    //function Sil(id) {
    //    $.ajax({
    //        url: 'https://localhost:44398/api/AdresDefteriSil/id',
    //        type: 'DELETE',
    //        dataType: 'json',
    //        contentType: 'application/json; charset=utf-8',
    //        async: true,
    //        success: function (result) {

    //        },
    //        error: function (result) {
    //            console.log(result);
    //            alert("Hata sonucu");
    //        }
    //    })

    //}


    $(document).ready(function () {

        $.ajax({
           // url: "https://localhost:44398/api/AdresDefteri/GetirAdresDefteriler",
            url: "https://localhost:44398/api/AdresDefteri",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (result) {
               // console.log(result);
                var table = $("tbody");

                table.append(` <tr>
            <th>
                Id
            </th>
            <th>
                Adres
            </th>
            <th>
                Mail
            </th>
            <th>
                Konum
            </th>
            <th>
                KisiId
            </th>
            <th>
                IsActive
            </th>
            <th></th>
        </tr>`);
               
                for (var i = 0; i < result.length; i++) {
              

                    console.log(result.length);

                    table.append(`<tr><td>${result[i].id}</td><td>${result[i].adres}</td><td>${result[i].mail}</td><td>${result[i].konum}</td><td>${result[i].kisiId}</td><td>${result[i].isActive}</td><td> <a href=AdresAjax/Edit/${result[i].id}>Edit</a>|
                <a href='href=AdresAjax/Delete/${result[i].id}'>Delete</a></td> </tr>`);
         
                   
                }

                $("table").html(table);
            },
            error: function (result) {
                console.log(result);
                alert("Hata sonucu");
            }
        });
    });
</script>